$mobile-small: 320px;
$mobile-medium: 414px;
$mobile-large: 720px;
$desktop: 1024px;

@mixin mobile-small() {
  @media screen and (min-width: $mobile-small) and (max-width: $mobile-medium - 1) {
    @content;
  }
}

@mixin mobile-medium() {
  @media screen and (min-width: $mobile-medium) and (max-width: $mobile-large - 1) {
    @content;
  }
}

@mixin mobile-large() {
  @media screen and (min-width: $mobile-large) and (max-width: $desktop - 1) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: $mobile-small) and (max-width: $desktop - 1) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

.hide-mobile {
  @include mobile {
    display: none;
  }
}

.hide-desktop {
  @include desktop {
    display: none;
  }
}


@mixin button() {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
}

@mixin button-main {
  @include font-style('font-1-18');
  font-weight: bold;
  color: $white;
  padding: 0 32px;
  cursor: pointer;
  outline: 0;
  height: 32px;
  line-height: 32px;
  border-radius: 5px;
  background-image: linear-gradient(298deg, #4dd6b2, #39cc96 31%);
  border: 0;
  margin-bottom: 32px;
  
  transition: background-color 150ms, transform 150ms;
  
  &:hover {
    background-color: #4dd6b2;
  }
  
  &:active {
    transform: scale(0.93);
  }
}

@mixin shrink-active {
  transition: transform 150ms;
  
  &:active {
    transform: scale(0.93);
  }
}

@mixin input-main {  
  @include font-style('font-1-16');
  border: 2px solid transparent;
  outline: 0;
  font-weight: bold;
  height: 56px;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #404040;
  padding-left: 10px;
  
  &::placeholder {
    color: #bfbfbf;
  }
}

@mixin label-main {  
  @include font-style('font-1-12');
  display: block;
  font-weight: bold;
  color: #404040;
  margin-bottom: 8px;
}

