@import "colors.scss";
@import "mixins.scss";

.Base58 {
  @include mobile {
    width: 100%;
  }
  width: 700px;
}

.Base58__label {
  @include label-main;
}

.Base58__inputWrapper {
  margin: 4px;
  width: 100%;
}

.Base58__decoded,
.Base58__encoded {
  @include input-main;
  transition: border-color 300ms;
}

.Base58__decoded {
  display: block;
  width: 100%;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}

.Base58__encoded {
  display: block;
  width: 100%;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}
