@import "colors.scss";
@import "mixins.scss";

.ByteArrayToHex {
  @include mobile {
    width: 100%;
  }
  width: 700px;
}

.ByteArrayToHex__label {
  @include label-main;
}

.ByteArrayToHex__inputWrapper {
  margin: 4px;
  width: 100%;
}

.ByteArrayToHex__byteArray,
.ByteArrayToHex__hex {
  @include input-main;
  transition: border-color 300ms;
}

.ByteArrayToHex__byteArray {
  display: block;
  width: 100%;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}

.ByteArrayToHex__hex {
  display: block;
  width: 100%;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}
