@import "colors.scss";
@import "mixins.scss";

.ContractAddress {
  @include mobile {
    width: 100%
  }
  width: 700px;
}

.ContractAddress__label {
  @include label-main;
}

.ContractAddress__inputWrapper {
  margin: 4px;
  width: 100%;
}

.ContractAddress__sender,
.ContractAddress__nonce,
.ContractAddress__contractAddress {
  @include input-main;
  transition: border-color 300ms;
}

.ContractAddress__sender {
  display: block;
  width: 100%;
}

.ContractAddress__nonce {
  display: block;
  width: 100%;
}

.ContractAddress__contractAddress {
  display: block;
  width: 100%;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}
