@import "colors.scss";
@import "mixins.scss";

.Ed25519 {
  @include mobile {
    width: 100%;
  }
  width: 700px;
}

.Ed25519__label {
  @include label-main;
}

.Ed25519__inputWrapper {
  margin: 4px;
}

.Ed25519__privateKey,
.Ed25519__publicKey {
  @include input-main;
  transition: border-color 300ms;
}

.Ed25519__privateKey {
  display: block;
  width: 100%;
}

.Ed25519__publicKey {
  display: block;
  width: 100%;
  cursor: default;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}
