.Hamburger {
  display: inline-block;
  padding: 10px;
  &:hover {
    cursor: pointer;
  }

  &--active {
    .Hamburger__line:nth-child(2){
      opacity: 0;
    }

    .Hamburger__line:nth-child(1){
      -webkit-transform: translateY(10px) rotate(45deg);
      -ms-transform: translateY(10px) rotate(45deg);
      -o-transform: translateY(10px) rotate(45deg);
      transform: translateY(10px) rotate(45deg);
    }

    .Hamburger__line:nth-child(3){
      -webkit-transform: translateY(-12px) rotate(-45deg);
      -ms-transform: translateY(-12px) rotate(-45deg);
      -o-transform: translateY(-12px) rotate(-45deg);
      transform: translateY(-12px) rotate(-45deg);
    }
  }
}

.Hamburger__line {
  width: 30px;
  height: 3px;
  background-color: #333333;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
