@import "colors.scss";
@import "mixins.scss";

.Keccak256 {
  @include mobile {
    width: 100%;
  }
  width: 500px;
  margin: 0 auto;
}

.Keccak256__label {
  display: block;
  font-size: 14px;
}

.Keccak256__inputWrapper {
  margin: 4px;
}

.Keccak256__keccakInput,
.Keccak256__keccakOutput {
  font-size: 16px;
  padding: 10px;
  border: 2px solid #eeeeee;
  border-radius: 3px;
  transition: border-color 300ms;
}

.Keccak256__keccakInput {
  display: block;
  width: 100%;
}

.Keccak256__keccakOutput {
  display: block;
  width: 100%;
  cursor: default;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}
