@import "colors.scss";
@import "mixins.scss";

.Keccak256 {
  @include mobile {
    width: 100%;
  }
  width: 700px;
}

.Keccak256__label {
  @include label-main;
}

.Keccak256__inputWrapper {
  margin: 4px;
}

.Keccak256__keccakInput,
.Keccak256__keccakOutput {
  @include input-main;
  transition: border-color 300ms;
}

.Keccak256__keccakInput {
  display: block;
  width: 100%;
}

.Keccak256__keccakOutput {
  display: block;
  width: 100%;
  cursor: default;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}
