@import "colors.scss";
@import "mixins.scss";

.KlayRawTransactionDecoder {
  @include mobile {
    width: 100%;
  }
  padding-bottom: 40px;
}

.KlayRawTransactionDecoder__label {
  @include label-main;
}

.KlayRawTransactionDecoder__inputWrapper {
  margin: 4px;
}

.KlayRawTransactionDecoder__rawTxInput,
.KlayRawTransactionDecoder__decodedOutput {
  @include input-main;
  transition: border-color 300ms;
}

.KlayRawTransactionDecoder__rawTxInput {
  display: block;
  width: 100%;
  height: 100px;
}

.KlayRawTransactionDecoder__decodedOutput {
  display: block;
  width: 100%;
  height: 28px;
  cursor: default;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}
