@import "colors.scss";

.Menu {
  font-family: 'Days One';
  background-color: $summer-green;
  width: 280px;
  transform: perspective(1200px);
  transform-style: preserve-3d;
  -webkit-transform: perspective(1200px) rotateY(-40deg) !important;
  -moz-transform: perspective(1200px) rotateY(-40deg) !important;
  -ms-transform: perspective(1200px) rotateY(-40deg) !important;
  -o-transform: perspective(1200px) rotateY(-40deg) !important;
  -moz-transform-origin: -10% 25%;
  -ms-transform-origin: -10% 25%;
  -o-transform-origin: -10% 25%;
}

.Menu__title {
  color: $white;
  text-indent: 10px;
  padding: 24px 6px;
  font-size: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.Menu__item {
  font-size: 12px;
  text-indent: 10px;
  color: $white;
  display: block;
  padding: 18px 6px;
  border-top: 1px dashed rgba($white, .3);
  transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  cursor: pointer;

  &:hover {
    background-color: #61c19e;
    text-indent: 18px;
  }
}
