@import "colors.scss";
@import "mixins.scss";

.MobileMenu {
  transition: background-color 200ms;
  background-color: $white;
  box-shadow: 0px 1px 5px #999999;

  &--active {
    background-color: transparent;
    height: 100%;
    .MobileMenu__overlay {
      height: 100%;
      background-color: rgba($black, .6);
      cursor: pointer;
    }
  }
}

.MobileMenu__bookLabel {
  @include mobile {
    text-align: center;
  }
  color: $white;
  font-family: 'Days One';
  cursor: pointer;
  padding: 10px;
  text-align: left;
  font-size: 14px;
  display: inline-block;
  padding: 18px 6px;
  border-top: 1px dashed rgba($white, .3);
  transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

  &--GENERAL {
    @include mobile {
      background-color: $white;
      border-bottom: 1px solid $label-general;
      color: $label-general;
    }
    background-color: $label-general;
  }

  &--ETH {
    @include mobile {
      background-color: $white;
      border-bottom: 1px solid $label-eth;
      color: $label-eth;
    }
    background-color: $label-eth;
  }

  &--KLAY {
    @include mobile {
      background-color: $white;
      border-bottom: 1px solid $label-klay;
      color: $label-klay;
    }
    background-color: $label-klay;
  }
  
  &--IOST {
    @include mobile {
      background-color: $white;
      border-bottom: 1px solid $label-iost;
      color: $label-iost;
    }
    background-color: $label-iost;
  }
}

.MobileMenu__itemList {

}

.MobileMenu__item {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 12px;
  color: $white;
  display: block;
  padding: 18px 6px;
  border-top: 1px dashed rgba($white, .3);
  transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  cursor: pointer;

  &--GENERAL {
    background-color: $label-general;
  }

  &--ETH {
    background-color: $label-eth;
  }

  &--KLAY {
    background-color: $label-klay;
  }
  
  &--IOST {
    background-color: $label-iost;
  }
}

.MobileMenu__hamburger {
  display: block;
}
