@import "colors.scss";
@import "mixins.scss";

.Modal {
  @include mobile {
    width: 100%;
  }
  font-family: 'Crimson Text';
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
  visibility: hidden;

  &--active {
    visibility: visible;
    z-index: 1000;

    .Modal__content {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      -webkit-transform: translate(-50%, -50%) scale(1);
      -moz-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
    }
  }
}

.Modal__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($black, .2);
  opacity: 1;
  cursor: pointer;
}

.Modal__content {
  @include mobile {
    width: 95%;
  }
  background-color: $white;
  border-radius: 3px;
  width: 720px;
  position: fixed;
  overflow: scroll;
  z-index: 2000;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.7);
  -webkit-transform: translate(-50%, -50%) scale(0.7);
  -moz-transform: translate(-50%, -50%) scale(0.7);
  -ms-transform: translate(-50%, -50%) scale(0.7);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.Modal__title {
  @include mobile {
    font-size: 20px;
  }
  font-weight: bold;
  background-color: rgba($black, .1);
  display: block;
  padding: 15px 30px;
  font-size: 40px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.Modal__description {
  @include mobile {
    font-size: 14px;
    height: 300px;
  }
  word-break: break-all;
  font-weight: normal;
  background-color: #F0F0F0;
  display: block;
  padding: 15px 30px;
  height: 500px;
  overflow: scroll;
  font-size: 18px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

}
