@import "colors.scss";

.PrivateKeyToPublicKey {
  width: 500px;
  margin: 0 auto;
}

.PrivateKeyToPublicKey__label {
  display: block;
  font-size: 14px;
}

.PrivateKeyToPublicKey__inputWrapper {
  margin: 4px;
}

.PrivateKeyToPublicKey__privateKey,
.PrivateKeyToPublicKey__publicKey,
.PrivateKeyToPublicKey__publicAddress {
  font-size: 12px;
  padding: 10px;
  border: 2px solid #eeeeee;
  border-radius: 3px;
  transition: border-color 300ms;
}

.PrivateKeyToPublicKey__privateKey {
  display: block;
  width: 100%;
  &--changeTarget {
    border: 2px solid $key-change;
  }

  &--removeTarget {
    border: 2px solid $key-remove;
  }
}

.PrivateKeyToPublicKey__publicKey {
  display: block;
  width: 100%;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}

.PrivateKeyToPublicKey__publicAddress {
  display: block;
  width: 100%;
  cursor: default;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}

.PrivateKeyToPublicKey__arrow {
  transition: opacity 300ms;
  opacity: 0;
  width: 10px;
  height: 10px;
  display: block;
  margin: 10px auto;

  &--visible {
    opacity: 1;
  }
}
