@import "colors.scss";
@import "mixins.scss";

.RawTransactionEncoder {
  @include mobile {
    width: 100%;
  }
  padding-bottom: 40px;
}

.RawTransactionEncoder__label {
  @include label-main;
}

.RawTransactionEncoder__inputWrapper {
  margin: 4px;
  display: block;

  &--invisible {
    display: none;
  }

  &--readOnly {
    opacity: .4;
  }
}

.RawTransactionEncoder__txParameter,
.RawTransactionEncoder__rawTransaction {
  @include input-main;
  transition: border-color 300ms;
}

.RawTransactionEncoder__txParameter {
  display: block;
  width: 100%;
}

.RawTransactionEncoder__rawTransaction {
  display: block;
  width: 100%;
  height: 100px;
  cursor: default;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}
