@import "colors.scss";
@import "mixins.scss";

.RawTransactionDecoder {
  @include mobile {
    width: 100%;
  }
  padding-bottom: 40px;
}

.RawTransactionDecoder__label {
  @include label-main;
}

.RawTransactionDecoder__inputWrapper {
  margin: 4px;
}

.RawTransactionDecoder__rawTxInput,
.RawTransactionDecoder__decodedOutput {
  @include input-main;
  transition: border-color 300ms;
}

.RawTransactionDecoder__rawTxInput {
  display: block;
  width: 100%;
  height: 100px;
}

.RawTransactionDecoder__decodedOutput {
  display: block;
  width: 100%;
  cursor: default;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}
