@import "colors.scss";
@import "mixins.scss";

.RLP {
  @include mobile {
    width: 100%;
  }
  width: 700px;
}

.RLP__label {
  @include label-main;
}

.RLP__inputWrapper {
  margin: 4px;
  width: 100%;
}

.RLP__decoded,
.RLP__encoded {
  @include input-main;
  transition: border-color 300ms;
}

.RLP__decoded {
  display: block;
  width: 100%;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}

.RLP__encoded {
  display: block;
  width: 100%;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}

.RLP__decodedAsAscii {
  margin: 4px;
  text-align: left;
  font-size: 12px;
}
