.SectionDescription {
  @include font-style('font-1-28');
  width: 700px;
  font-weight: bold;
  text-align: left;
  position: relative;
  margin-bottom: 56px;
}

.SectionDescription__title {
  @include font-style('font-1-28');
  line-height: 20px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.SectionDescription__questionMark {
  margin-left: 10px;
  width: 28px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
  color: rgba($black, .3);
  padding: 0;
  cursor: pointer;

  &:hover {
    color: rgba($black, .6);
  }
}
