@import "colors.scss";
@import "mixins.scss";

.UTF8 {
  @include mobile {
    width: 100%
  }
  width: 700px;
}

.UTF8__label {
  @include label-main;
}

.UTF8__inputWrapper {
  margin: 4px;
  width: 100%;
}

.UTF8__utf8,
.UTF8__hex {
  @include input-main;
  transition: border-color 300ms;
}

.UTF8__utf8 {
  display: block;
  width: 100%;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}

.UTF8__hex {
  display: block;
  width: 100%;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}
