@import "colors.scss";
@import "mixins.scss";

.UTF8 {
  @include mobile {
    width: 100%
  }
  width: 700px;
  margin: 0 auto;
}

.UTF8__label {
  display: block;
  font-size: 14px;
}

.UTF8__inputWrapper {
  margin: 4px;
  width: 100%;
}

.UTF8__utf8,
.UTF8__hex {
  font-size: 12px;
  padding: 10px;
  border: 2px solid #eeeeee;
  border-radius: 3px;
  transition: border-color 300ms;
}

.UTF8__utf8 {
  display: block;
  width: 100%;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}

.UTF8__hex {
  display: block;
  width: 100%;
  &--changeTarget {
    border: 2px solid $key-change;
  }
}
