html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;
    -ms-overflow-style: none;
     &::-webkit-scrollbar {
       display: none !important;
     }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}
