@import "mixins.scss";

@font-face {
  font-family: 'Days One';
  src: url(/static/fonts/DaysOne-Regular.ttf);
}

@font-face {
  font-family: 'Crimson Text';
  font-weight: bold;
  src: url(/static/fonts/CrimsonText-Bold.ttf);
}
@font-face {
  font-family: 'Crimson Text';
  font-weight: normal;
  src: url(/static/fonts/CrimsonText-Regular.ttf);
}

@font-face {
  font-family: 'Lato';
  src: url(/static/fonts/Lato-Regular.ttf);
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;

  * {
    box-sizing: border-box;
    -ms-overflow-style: none;
     &::-webkit-scrollbar {
       display: none !important;
     }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}
